<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Coursera POM Suite" parallel="tests" thread-count="3">
    <test name="EdgeTests">
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <class name="searchSeleniumTest"/>
            <class name="findLevelTest"/>
            <class name="FillFormTest"/>
        </classes>
    </test>

    <test name="ChromeTests">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="searchSeleniumTest"/>
            <class name="findLevelTest"/>
            <class name="FillFormTest"/>
        </classes>
    </test>
</suite>